{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Tarefas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <header>



  </header>


  <div class="container">

      <form action="{% url 'create_task' %}" method='POST'>
        {% csrf_token %}
        <!-- Modal Criar tarefa-->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Adicionar nova tarefa</h4>
            </div>
            <div class="modal-body">
              <input type="text" name="nova_tarefa" required id="nova_tarefa" placeholder="Nova tarefa">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>

        </div>
      </div>

    </div>

  <main class="content">
    <h1 class='table-title'>
          Tarefas
        </h1>

        <div class="search_add_container">
          <div class="search">
            <form action="{% url 'search' %}" method="GET">
              <input type="search" class="search-input" placeholder="Pesquisar atividade" id="search" name="q" value={{ request.GET.q.strip }}>
            </form>
          </div>

          <button type="button" class="btn rounded" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus"></i>
          </button>
        </div>

    <div class='responsive-table'>
      <table class="tasks-table">
        <tbody>
          {% for task in tasks %}
            <tr class="table-row">
              <form action="{% url 'mark_task' task.id %}" method="post">
                {% csrf_token %}
                <td class="table-cel">
                  <button type="submit" name="{{ task.id }}" id="{{ task.id }}">

                {% if task.task_completed %}
                    <label for="{{ task.id }}"><s>{{ task }}</s></label>
                  </button>
                    <strong class="task-description">
                      Tarefa concluida
                    </strong>
                </td>

                {% else %}
                    <label for="{{ task.id }}">{{ task }}</label>
                  </button>
                    <strong class="task-description">
                      Tarefa a ser feita
                    </strong>
                  </td>
                {% endif %}

              </form>

                <form action="{% url 'delete_task' task.id %}" method="POST">
                  {% csrf_token %}
                  <td class='table-cel'>
                    <button type="submit" name="delete {{ task.id }}">
                      APAGAR TAREFA
                    </button>
                  </td>
                </form>


                <form action="{% url 'update_task' task.id %}" method='POST'>
                {% csrf_token %}

                <!-- Modal Atualizar tarefa -->
                <div class="modal fade" id="myModal{{ task.id }}" role="dialog">
                  <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Atualizar tarefa</h4>
                    </div>
                    <div class="modal-body">
                      <input type="text" name="novo_titulo" required id="novo_titulo" placeholder="Atualizar tarefa" value="{{ task.title }}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Atualizar</button>
                    </div>
                  </div>
                </form>

                <td class='table-cel'>
                  <button type="button" class="btn rounded" data-toggle="modal" data-target="#myModal{{ task.id }}">
                    Atualizar
                  </button>
                </td>

            </tr>
          {% endfor %}

        </tbody>

      </table>

    </div>

  </main>

</body>

</html>
